apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.0 (40646f47)
  creationTimestamp: null
  labels:
    io.kompose.service: mongo
  name: mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: mongo
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.0 (40646f47)
      creationTimestamp: null
      labels:
        io.kompose.network: "true"
        io.kompose.service: mongo
        # node: "1"
    spec:
      # schedulerName: chakra
      containers:
        - image: mongo:4.4.6
          name: mongo
          ports:
            - containerPort: 27017
          resources:
            requests:
              cpu: $MONGO_CPU
            limits:
              cpu: $MONGO_CPU
          volumeMounts:
            - mountPath: /data/db
              name: $MONGO_CLAIMNAME
      restartPolicy: Always
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: nodes
                operator: In
                values:
                - $MONGO_NODE
      # affinity:
      #   nodeAffinity:
      #     preferredDuringSchedulingIgnoredDuringExecution:
      #     - weight: 1
      #       preference:
      #         matchExpressions:
      #         - key: disktype
      #           operator: In
      #           values:
      #           - ssd
      volumes:
        - name: $MONGO_CLAIMNAME
          persistentVolumeClaim:
            claimName: $MONGO_CLAIMNAME
status: {}

